{% extends '::base.html.twig' %}

{% block body %}
    <h1>Product: {{ product.getName() }}</h1>
    <p>{{ product.getDescription() }}</p>
    <small>{{ product.getPrice() }} Euro</small>
{% endblock %}
